@import '../../common';

.graphbody{
    width:100%;
    height:100%;
    .linechart{
        // background-color:$c2;
        width:100%;
        height:100%;
    }
}
.info{
    margin:20px 0 0 30px;
    width:100%;
    display:flex;
    font-size:14px;
}
.info div{
    margin-right:10px;
    span{
        font-weight: bold;
        margin-right:4px;
    }
}
