@import '../../common';

.scripttxt{
    // word-break: keep-all;
    flex:1;
    overflow-Y:scroll;
    overflow-X:hidden;
    margin:20px;
    margin-bottom: 0;
    padding:20px;
    font-size:14px;
    font-weight:normal;
    border:1px solid #dadada;
}