$textcolor: #282828;
$white: #fff;

$background: #e6f7ff;
$c2: #bae7ff;
$c3: #91d5ff;
$c4: #69c0ff;
$c5: #40a9ff;
$primary: #364fc7;
$c7: #096dd9;
$c8: #0050b3;
$c9: #003a8c;
$c10: #002766;
// gray
$g1: #f8f9fa;
$g2: #f1f3f5;
$g3: #e9ecef;
$g4: #dee2e6;
$g5: #ced4da;
$g6: #adb5bd;
$g7: #868e96;
$g8: #495057;
$g9: #343a40;
$g10: #212529;
$font: "Noto Sans KR", sans-serif;

body {
  min-width: 1230px;
  min-height: 800px;
}
.header {
  height: 60px;
  background: #1f2e86;
}
.nav {
  margin-bottom: 30px;
}
.highcharts-credits {
  display: none;
}
.cardWrapper {
  width: 100%;
  height: 400px;
  color: $textcolor;
  margin-bottom: 50px;
  &-graph {
    height: 600px;
    margin-bottom: 20px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.card-script {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  justify-content: space-between;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(31, 46, 134);
}
