@import '../../common';


.plot{
    flex:1 0;
    width:100%;
    overflow: hidden;
}
.groupscript{
    color:#999;
    position: absolute;
    bottom:80px;
    right:30px;
    width:150px;
    word-break: keep-all;
    font-size: 0.9rem;
}