@import '../../common';

.slider{
    padding:0px 30px;
    flex:1;
    display:flex;
    flex-direction: column;
    position: relative;
    .slidertitle{
        // position: absolute;
        // left:8px;
        // top:-5px;
        word-break: keep-all;
        font-size:12px;
        padding-bottom:15px;
        font-weight: bold;
    }
    .ant-row{
        display:flex;
        flex:1;
        align-items: center;
    }
}